<div nz-row [nzGutter]="[16, 12]" nzJustify="space-around" nzAlign="middle">
  <div nz-col nzSpan="22">
    <textarea rows="7" nz-input [disabled]="true" [(ngModel)]="inputValue"></textarea>
  </div>
  <div nz-col nzSpan="22">
    <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
      <input type="text" nz-input placeholder="input search text"  [(ngModel)]="typeValue"/>
    </nz-input-group>
    <ng-template #suffixButton>
      <button nz-button nzType="primary" nzSize="large" nzSearch (click)="typeChange()">send</button>
    </ng-template>
  </div>
</div>
<br/>
<nz-spin [nzSpinning]="isSpinning || accountDetailsisSpinning">
  <div nz-row [nzGutter]="[5, 12]" nzJustify="space-around" nzAlign="middle">
  <div nz-col nzSpan="12">
      <nz-table nzTemplateMode #tableComponent [nzData]="recentTransactions" [nzPageSize]="20" [nzScroll]="{ y: '200px' }" style="width:95%;">
      <thead>
        <tr>
          <th>merchant</th>
          <th>amount</th>
          <th>timestamp</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of tableComponent.nzData">
          <td>{{ data.merchant }}</td>
          <td>{{ data.amount }}</td>
          <td>{{ data.timestamp }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <div nz-col nzSpan="12">
    <nz-card nzTitle="Personal Detail">
      <p>Name: {{ accountDetails.firstname }} {{ accountDetails.lastname }}</p>
      <p>Address: {{ accountDetails.homeAddress }}</p>
      <p>Email: {{ accountDetails.email }}</p>
      <p>Phone: {{ accountDetails.phoneNumber }}</p>
    </nz-card>
  </div>
</div>
</nz-spin>
<nz-modal [(nzVisible)]="isVisible" [nzTitle]="purpose" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
      <ng-container *nzModalContent>
        <p>Content one</p>
        <p>Content two</p>
        <p>Content three</p>
      </ng-container>
</nz-modal>
